{
  "presets": [
    "es2015"
  ],

  "comments": false,

  "plugins": [
    "transform-remove-console",
    [
      "transform-es2015-classes", {
        "loose": true
      }
    ],
    "add-module-exports"
  ]
}
